{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->
        <div class="container">
            <div class="pol-text text-center about-content">
                <h3>Advertise on Layvio</h3>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-md-7">
                    <h3 class="pb-4">Advertise With Layvio Templates</h3>
                    <p>
                        Promote your products or services through <b>banner advertisements </b>on Layvio Templates. Our ad inventory is available for evaluation and purchase through
                        <a href="https://www.buysellads.com/"><u>BuySellAds, </u></a>a trusted platform that makes the process simple and efficient for advertisers.
                    </p>
                    <p>To keep users engaged, Layvio Templates also offers an <b> RSS feed </b> featuring the latest template releases—ensuring regular visibility and traffic for our advertising partners.</p>
                    <p>
                        We’ve partnered with BuySellAds for their seamless experience and effective ad management solutions. If you’re interested in advertising with us, please visit our
                        <a href="https://www.buysellads.com/"><u>BuySellAds profile</u></a> to view available placements and get started.
                    </p>
                </div>
                <div class="col-md-5"><img src="{% static 'assets/images/Advertise.png' %}" alt="advertisement" class="img-fluid" /></div>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <h2 class="text-center">Lets connect for advertisement</h2>
                        <div class="text-center"><a href="contact-us.html" id="why-choose-us" class="btn btn-md"> Lets Start</a></div>
                        <br />
                    </div>
                </div>
            </div>
        </section>
{% endblock %} 