{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->
        <div class="container">
            <div class="pol-text pol-text text-center about-content">
                <h3>Affiliate Program</h3>
            </div>
        </div>

        <div class="section-content section-affiliate">
            <div class="section-contact">
                <div class="container">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="affiliate-benefit">
                                    <div class="icon"><i class="icon-magic"></i></div>
                                    <div class="text">
                                        <h5>Promote High-End Products</h5>
                                        <p>We sell high quality UI kits and Templates that help people design and code faster. Our products are loved by web designers and developers that use it to build awesome projects.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="affiliate-benefit">
                                    <div class="icon"><i class="icon-dollar"></i></div>
                                    <div class="text">
                                        <h5>5% - 10% Commission</h5>
                                        <p>You earn 5% -10% commission on affiliate sales, when a product is bought by a customer you referred, you will receive a 5% = 10% share.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="affiliate-benefit">
                                    <div class="icon"><i class="icon-group"></i></div>
                                    <div class="text">
                                        <h5>Open for everybody</h5>
                                        <p>Anyone with a blog, a social media account or just a set of friends that are in the field of web development can become an affiliate.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="affiliate-benefit">
                                    <div class="icon"><i class="icon-gift"></i></div>
                                    <div class="text">
                                        <h5>Generous Discounts</h5>
                                        <p>You can offer up to 10% discount on our UI Kits and Templates for your current audience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="affiliate-benefit">
                                    <div class="icon"><i class="icon-globe"></i></div>
                                    <div class="text">
                                        <h5>Get Involved</h5>
                                        <p>You will be involved in the process of bringing awesome products to a bigger audience.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="affiliate-benefit">
                                    <div class="icon"><i class="icon-hourglass-start"></i></div>

                                    <div class="text">
                                        <h5>Fast Registration</h5>
                                        <p>It will only take a few minutes to register and then you will receive an Affiliate ID.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="affiliate-form">
                            <div class="col-md-12 text-center custom-affilate">
                                <h2>Become an Affiliate Partner<br /></h2>
                                <p>To get started contact us and tell us who you are and what you do; we will then link you to the affiliates registration process.</p>
                            </div>
                            <div class="col-md-12 custom-affilate">
                                <form class="login100-form validate-form">
                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="">
                                        <input class="input100" type="text" name="username" />
                                        <span class="focus-input100" data-placeholder="Username"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="">
                                        <input class="input100" type="email" name="email" />
                                        <span class="focus-input100" data-placeholder="Email"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="">
                                        <input class="input100" type="text" name="your website" />
                                        <span class="focus-input100" data-placeholder="Your Website"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="">
                                        <textarea class="form-control input100 custom-text-area" rows="5" id="comment" name="text"></textarea>
                                        <span class="focus-input100" data-placeholder="Message"></span>
                                    </div>
                                    <div class="container-login100-form-btn">
                                        <button class="login100-form-btn">
                                            Send Request
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %} 