{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    


    {% block inner_html %}{% endblock %}



{% include "footer.html" %}
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>



</body>

</html>