{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->
        <div class="section section-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left col-z-index">
                        <h1 class="title">
                            With a little help<br />
                            from our developers
                        </h1>
                        <h4 class="desc">You can achieve so much. That’s why we partnered with you to help you in your projects.</h4>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'assets/images/header_illustration.svg' %}" alt="illustration" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="space-110"></div>
        </div>
        <div class="section section-do" id="whatwedo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Pick now the best development option for you:</h2>
                    </div>

                    <div class="computer col-md-6">
                        <img src="{% static 'assets/images/web-laptop.png' %}" class="img-fluid" />
                    </div>

                    <div class="col-md-6">
                        <div class="wrapper-h pb-3">
                            <h4><strong>Option A.</strong> Clone yourself, get like-minded developers to help.</h4>
                        </div>
                        <div class="col-md-12 info">
                            <div class="row">
                                <div class="icon-wo icon-xs col-md-2">
                                    <span class="icon-user custom-w-icon"></span>
                                </div>
                                <div class="description text-left col-md-10">
                                    <p class="desc">Don’t be a loner. You don`t have to do it all on your own. Team up with one or more of our developers and get help with anything from backend integration to code review.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 info">
                            <div class="row">
                                <div class="icon-wo icon-xs col-md-2">
                                    <span class="icon-alarm custom-w-icon-2"></span>
                                </div>
                                <div class="description col-md-10">
                                    <p class="desc">
                                        Already have a development team, but could use another hand? Or two? Our developers have experience working across distributed teams, continents and industries. Scale your existing team and never go
                                        over budget or schedule again.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="#" id="let-just" class="btn btn-md-2">I want this</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wrapper-h mt-5 pb-4">
                        <h4 class="pr-5"><strong>Option A+</strong> Get a team to do your development, retire early.</h4>
                    </div>
                    <div class="col-md-6 info">
                        <div class="row">
                            <div class="icon-wo icon-xs col-md-2">
                                <span class="icon-users custom-w-icon-3"></span>
                            </div>

                            <div class="description col-md-9 text-left">
                                <p class="desc">A good MVP plan is not enough. You’ll need a battle-tested team with experience working together. In short, a team which can deliver, with just the right roles.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 info">
                        <div class="row">
                            <div class="icon-wo icon-xs col-md-2">
                                <span class="icon-settings custom-w-icon-4"></span>
                            </div>

                            <div class="description col-md-9 text-left">
                                <p class="desc">
                                    More than just a team, you get an ecosystem of tools, skills &amp; know-how. You don`t need to pay for powerful computers or search months for the right people. Start your development faster and scale at
                                    a fraction of the cost.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center wrapper-button mt-5">
                        <a href="#" id="let-just-2" class="btn btn-md-2">I want this</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-numbers">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info text-center">
                            <div class="row">
                                <div class="numbers col-md-3 col-sm-6">
                                    <div class="num">8</div>
                                    <div class="num">0</div>
                                    <div class="num">0</div>
                                    <div class="plus">+</div>
                                    <h4>delivered projects</h4>
                                </div>
                                <div class="numbers col-md-3 col-sm-6">
                                    <div class="num">2</div>
                                    <div class="num">0</div>
                                    <div class="plus">+</div>
                                    <h4>industries</h4>
                                </div>
                                <div class="numbers col-md-3 col-sm-6">
                                    <div class="num">1</div>
                                    <div class="num">5</div>
                                    <div class="plus">+</div>
                                    <h4>countries</h4>
                                </div>
                                <div class="numbers col-md-3 col-sm-6">
                                    <div class="num">5</div>
                                    <div class="num">M</div>
                                    <div class="plus">+</div>
                                    <h4>users of our code</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a name="let-just"></a>
        <a name="let-just-2"></a>
        <div class="section section-contact" id="submit">
            <div class="container">
                <div class="row pb-5">
                    <div class="col-md-12 text-center">
                        <h3 class="title">Let`s just do this. Together.</h3>
                        <h4 class="desc">Give us 5 minutes of your time &amp; we`ll get back to you in 24 hours.</h4>
                    </div>
                </div>
                <div class="card card-contact card-raised">
                    <div class="card-body">
                        <form class="form-group" method="post" action="#submit">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="">
                                        <input class="input100" type="email" name="email" />
                                        <span class="focus-input100" data-placeholder="Email"></span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="">
                                        <textarea class="form-control input100 custom-text-area" rows="5" id="comment" name="text"></textarea>
                                        <span
                                            class="focus-input100"
                                            data-placeholder="Tell us a bit about your
                                        project"
                                        ></span>
                                    </div>
                                </div>
                                <div class="col-md-12 plan">
                                    <label class="form-label">I want:</label> <br />

                                    <label class="propr">
                                        <input type="radio" class="propr" name="option" value="Plan-A: One or more developers" id="Plan-A" required="" />
                                        <b> Plan A:</b> One or more developers
                                    </label>

                                    <label class="propr">
                                        <input type="radio" class="propr" name="option" value="Plan-A+: An entire team" id="Plan-Aa" />
                                        <b> Plan A+:</b> An entire team<br />
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Approximate budget:</label> <br />

                                    <label class="propr">
                                        <input type="radio" class="propr" name="budget" value="$10" required="" />
                                        &nbsp; &lt;$10 &nbsp; &nbsp;
                                    </label>
                                    <label class="propr"> <input type="radio" class="propr" name="budget" value="$10 - $50" /> &nbsp; $10 - $50 &nbsp; &nbsp; </label>
                                    <label class="propr"> <input type="radio" class="propr" name="budget" value=" $50 - $250" /> &nbsp; $50 - $250 &nbsp; &nbsp; </label>
                                    <label class="propr"> <input type="radio" class="propr" name="budget" value="$250 - $1000" /> &nbsp; $250 - $1000 &nbsp; &nbsp; </label>
                                    <label class="propr"> <input type="radio" class="propr" name="budget" value="$1000+" /> &nbsp; $1000+ </label>
                                </div>
                                <div class="col-md-4 mb-5">
                                    <div class="mt-5">
                                        <button class="login100-form-btn custom-submitc">
                                            SUBMIT
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %} 