{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->
        <div class="container">
            <div class="pol-text pol-text text-center about-content">
                <h3>Domain For Sale</h3>
            </div>
            <div class="row mb-5 mt-5">
                <div class="col-md-8">
                    <h3 class="mb-4">Where entrepreneurs come to buy & sell domains</h3>
                    <p>Your destination to buy a domain, list your domain names for sale or ask the crowd to value your domains.</p>
                </div>
                <div class="col-md-4 text-center">
                    <div class=""><a href="sign-in.html" class="btn btn-md-2">Let's Start</a></div>
                </div>
            </div>
        </div>
        <div class="bg-domain">
            <div class="container">
                <div class="row pb-5 pt-5">
                    <div class="col-md-3">
                        <div class="listingCard___card">
                            <a href="#">cashenthusiast.com</a>
                            <div class="sub_card mt-3 text-center">
                                <a href="#">.com</a>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <button class="buybutton___buybutton">Buy Now</button>
                                </div>

                                <div class="col-sm-6">
                                    <p class="float-right">$350</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="listingCard___card">
                            <a href="#">ModernMuscleCars.net</a>
                            <div class="sub_card mt-3 text-center">
                                <a href="#">.net</a>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <button class="buybutton___buybutton">Buy Now</button>
                                </div>

                                <div class="col-sm-6">
                                    <p class="float-right">$10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="listingCard___card">
                            <a href="#">Ski.io</a>
                            <div class="sub_card mt-3 text-center">
                                <a href="#">.io</a>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <button class="buybutton___buybutton">Buy Now</button>
                                </div>

                                <div class="col-sm-6">
                                    <p class="float-right">$100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="listingCard___card">
                            <a href="#">ontheupbeat.com</a>
                            <div class="sub_card mt-3 text-center">
                                <a href="#">.com</a>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <button class="buybutton___buybutton">Buy Now</button>
                                </div>

                                <div class="col-sm-6">
                                    <p class="float-right">$100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 all_domain">
                    <h3>All Domain For Sale</h3>
                </div>

                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-sm-12 mb-5">
                        <div class="all_domain-nam">
                            <a href="#" class="float-left"> Softwa.re </a>
                            <span class="float-right">$13</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-domain pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 all_domain-sale text-center">
                        <a href="sign-in.html">All Domain For Sale</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %} 