{% extends 'base.html' %} {% load static %} 
{% block inner_html %}


        <div class="site-wrap">
            <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>
            <!-- header -->
            <header class="site-navbar py-4" role="banner">
            {% include "header.html" %}
            </header>
            <!-- end header -->

            <!-- banner -->
            <div class="site-blocks-cover" style="background-image: url({% static 'assets/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="400">
                            <div class="main-content">
                                <h1>Let's have a Website Ready For You</h1>
                                <p class="lead mb-3 mt-5">
                                    Choose a best design for your website, <a href="{% url 'free-templates' %}"><span class="line">free download</span> </a>a template for your business, expose our
                                    <a href="{% url 'prime-product' %}"><span class="line">prime services</span></a> like <a href="{% url 'membership'%}"> <span class="line">prime membership</span></a>,
                                    <a href="{% url 'readymade-solutions' %}"><span class="line">Readymade website</span> </a>, custom design, and many more you will always get a
                                    <a href="{% url 'free_support' %}"> <span class="line">free support</span></a> for every template tested here
                                </p>
                                <div><a href="javascript:void(0)" id="why-choose-us" class="btn btn-md">Get started</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end  banner -->
        </div>

    <!-- start choose your industry  -->
    <a name="why-choose-us"></a>
    <section class="choose-industry custom_space container-fluid">
        <div class="container ">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-black h1 site-section-heading text-center">Choose <span class="color-text">Your</span> Industries
                    </h2>
                    <p class="lead">Select Your Industry to Discover Tailored Website Templates Designed for Your Business Needs</p>
                </div>
            </div>
        </div>

        <div class="container custom_container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for industry in industries %}
                    <div class="swiper-slide">
                        <div class="industry">
                            <a href="{% url 'free-templates' industry.slug %}"><img src="{{ industry.image.url }}"></a>
                            <span class="span_icon"></span>
                            <h3>{{ industry.name }}</h3>
                        </div>
                        <!-- <div class="industry">
                            <a href="industry-landing.html"><img src="{{ industry.image.url }}"></a>
                            <span class="span_icon"></span>
                            <h3>{{ industry.name }}</h3>
                        </div> -->
                    </div>
                     {%   endfor %}


                    
                    <div class="swiper-slide">
                        <div class="industry  ">

                            <a href="{% url 'all_industries' %}">
                                <h4>See All</h4>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Add Pagination -->

                <!-- Add Arrows -->

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
     
        </div>

    </section>
    <!-- end  choose your industry -->

    <!-- start free templates -->

    <section class="free-templates custom_space container-fluid">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-black h1 site-section-heading text-center"> <span class="color-text">Free</span> Templates
                    </h2>
                    <p class="lead">Explore Our Collection of High-Quality Free Website Templates to Kickstart Your Online Presence.</p>
                </div>
            </div>
            <div class="swiper-second-container">

                <div class="swiper-wrapper">
                    {% for template in templates_free %}
                   
                    <div class="swiper-slide">
                        <div class="temp_box">
                            <div class="card">
                                <a href="{% url 'template_detail' template.slug %}"> <img class="card-img-top" src="{{ template.image.url }}" alt="Card image" class="img-fluid"> </a>
                                <div class="card-body">
                                    <h4 class="card-title">{{ template.name }}</h4>
                                    <p class="card-text">{{ template.short_description }}</p>
                                    <a target="_blank" href="{{ template.preview_link }}" class="btn btn-custom">Live Preview <span class="icon-search custom_search"></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                    {% endfor %}
                    
                    <div class="swiper-slide">
                        <div class="temp_box">
                            <div class="card">

                                <div class="card-body temp_see_all">
                                    <a href="{% url 'free-templates' %}">
                                        <h4>See All</h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Pagination -->

                <!-- Add Arrows -->
                <div class="swiper-button-next-two"></div>
                <div class="swiper-button-prev-two"></div>

            </div>

        </div>
    </section>
    <!-- end free templates -->





    <section class="prime-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="text-black h1 site-section-heading text-center">Prime <span class="color-text">Products</span>
                    </h2>
                    <p class="lead">Unlock Premium Quality with Our Top-Selling, Industry-Ready Website Templates.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for template in templates_paid %}
               
                <div class="col-md-6 col-lg-4">
                    <div class="temp_box">
                        <div class="card">
                            <a href="{% url 'template_detail' template.slug %}"> <img class="card-img-top" src="{{ template.image.url }}" alt="Card image" class="img-fluid"></a>
                            <div class="bg-upper">
                                <h4>new</h4>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ template.name }}</h4>
                                <p class="card-text">{{ template.short_description }}</p>
                                <a target="_blank" href="{{ template.preview_link }}" class="btn btn-custom">Live Preview <span class="icon-search custom_search"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                 
                {% endfor %}
                
            </div>

            
            <div class="col-12 text-center mt-3">
                <a href="{% url 'prime-product' %}" class="btn  btn-md">See All</a>
            </div>
        </div>
    </section>
    <section class="accordion-section clearfix mt-3 free-templates custom_space container-fluid" aria-label="Question Accordions">
    
        <div class="container">
            <h1 class="text-center"><b>FAQs</b></h1>
          <div class="row mb-5 mt-5">
            
            
            <div class="col-md-8">
    
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading  mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        What is Layvio.com?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                      <p>Layvio.com is a user-friendly website builder and hosting platform designed to help individuals and small businesses create professional websites with ease. Whether you’re starting a blog, showcasing your hobbies, or launching an online store, Website.com has everything you need to get started. </p>
                    
                     
                    </div>
                  </div>
                </div>
    
                <div class="panel panel-default">
                  <div class="panel-heading  mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Do I Need Any Web Programming Skills?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                      <p>No coding required. Our intuitive drag-and-drop editor lets you design and publish your site without any technical experience.</p>
                    </div>
                  </div>
                </div>
    
                <div class="panel panel-default">
                  <div class="panel-heading  mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                       What Do I Need to Use Layvio.com?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                      <p>All you need is an internet connection and a browser — no software downloads or installations required.</p>
                    </div>
                  </div>
                </div>
    
                <div class="panel panel-default">
                  <div class="panel-heading  mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        How Much Does It Cost?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                      <p>We offer flexible plans tailored to different needs and skill levels. As your website grows, you can upgrade to access more templates, features, and storage.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading  mb-3" role="tab" id="heading4">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                          href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                         How Long Does It Take to Build a Website?
                        </a>
                      </h3>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                      <div class="panel-body px-3 mb-4">
                        <p>You can have your website up and running in minutes. Our streamlined tools make the process quick and simple.</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mbr-figure">
                <img src="{% static 'assets/images/faq-home.png' %}" alt="faqs" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            <a href="{% url 'faqs' %}" class="btn  btn-md">See More</a>
        </div>
        </div>
      </section>

      
<a href="{% url 'readymade-solutions' %}" class="bg-dark py-5 d-block">
    <div class="container">
      <div class="row justify-content-center">
       
        <div class="col-md10 text-center">

                
        <h4 class="text-white">Create Your Own Website with Ease</h4>
        <p class="text-white"> Whether you’re launching a business, starting an online store, or building your personal brand — Website.com makes it simple to get online. Our intuitive website builder helps you design, customize, and publish your site without any coding skills.
             
             </p>
          <h2 class="text-white">Start for Free Today</h2>
        </div>
      </div>
    </div>
  </a> 

{% endblock %} 