{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->
        <div class="container">
            <div class="pol-text text-center">
                <h3>License</h3>
                <p class="custom-p mb-5">
                    We offer both free and premium templates to cater to a wide range of personal and commercial project needs. Our flexible licensing options allow you to get started for free and upgrade anytime without losing your
                    customizations.
                </p>
            </div>

            <div class="heading-pol pt-5">
                <h5>1. Free Themes:</h5>
                <div class="priv-text">
                    <p>
                        You can download and use our free templates for personal projects at no cost. This license is perfect for testing templates, reviewing code structure, and deciding what works best for your needs. You are free to
                        modify the files and use them across unlimited personal websites or domains.
                    </p>
                    <h6>Limitations of the Free License:</h6>
                    <ul>
                        <li>Must retain the footer credit: “Designed by Layvio”</li>
                        <li>Not allowed for client work or commercial use</li>
                        <li>No access to working PHP/AJAX contact forms</li>
                        <li>No access to Sass/SCSS source files</li>
                        <li>No support included</li>
                    </ul>
                </div>
            </div>
            <div class="heading-pol">
                <h5>2. Prime Themes:</h5>
                <div class="priv-text">
                    <p>
                        Ideal for freelancers, businesses, and developers working on commercial or client projects. With this license, you can fully customize templates, remove the footer credit, and gain access to enhanced features like
                        working contact forms and premium support.
                    </p>

                    <h6>
                        Included in the Prime License:
                    </h6>
                    <ul>
                        <li>Full template customization</li>
                        <li>Working PHP/AJAX contact form</li>

                        <li>Priority email support</li>
                        <li>Footer credit removal</li>
                    </ul>
                    <p><b>Note: </b>The Prime License applies only to the specific template you purchase. It does not include access to all templates.</p>
                </div>
            </div>
        </div>
{% endblock %} 