{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->
<section class="content-columns">
            <div class="subscribe">
                <div class="wrap subscribe__header header clearfix">
                    <div class="subscribe__header__img col-500">
                        <div class="subscribe-illustration"></div>
                    </div>
                    <div class="subscribe__header__descr col-440">
                        <div class="subscribe__header__title header__title">Layvio <span>Plus</span></div>
                        <p class="subscribe__header__text">
                            Subscribe to Layvio Plus for just $19 a month and enjoy exclusive premium content. Get access to even more high-quality freebies, carefully crafted each week by the industry’s leading designers
                        </p>
                        <div class="subscribe__header__btns"><a href="#plans" data-scroll-to="" class="subscribe-btn input-button">Subscribe now</a><a href="#more-info" data-scroll-to="" class="subscribe-btn transparent">More info</a></div>
                    </div>
                </div>
                <div class="blue-back subscribe__description" id="more-info">
                    <div class="wrap clearfix">
                        <div class="col-500">
                            <div class="subscribe__description__title section-title">Why Become a Layvio <span>Plus</span> Member?</div>
                            <p class="subscribe__description__text section-descr">
                                On our website, you’ll find two categories of resources: regular templates, available for free to everyone, and extended premium templates, accessible exclusively to Layvio Plus members. But that’s not all —
                                with your membership, you’ll also unlock unbeatable deals, the latest design assets, and exclusive time-limited offers — all for the price of a single premium product!
                            </p>
                        </div>
                        <div class="col-440">
                            <div class="subscribe__img-1"></div>
                        </div>
                    </div>
                </div>
                <div class="wrap subscribe-features">
                    <ul class="subscribe-features__list">
                        <li class="subscribe-features__item">
                            <div class="subscribe-features__icon"><img src="{% static 'assets/images/value.png' %}" alt="value" /></div>
                            <div class="subscribe-features__item-title">Amazing Value with Layvio Plus</div>
                            <p class="subscribe-features__item-text">For an affordable price, a Layvio Plus membership grants you unlimited access to our extended library of premium, professional-grade design resources.</p>
                        </li>
                        <li class="subscribe-features__item">
                            <div class="subscribe-features__icon"><img src="{% static 'assets/images/weekly-update.png' %}" alt="weekly" /></div>
                            <div class="subscribe-features__item-title">Fresh Updates Every Week</div>
                            <p class="subscribe-features__item-text">Our library is updated weekly with new templates and ready-made websites, ensuring you receive a constant stream of exclusive, high-quality content.</p>
                        </li>
                        <li class="subscribe-features__item">
                            <div class="subscribe-features__icon"><img src="{% static 'assets/images/offer.png' %}" alt="offer" /></div>
                            <div class="subscribe-features__item-title">Offers And Deals</div>
                            <p class="subscribe-features__item-text">As a Layvio Plus member, you’ll enjoy special offers, bonus gifts, and access to top-tier design products you won’t find anywhere else.</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="wrap head-subscribes-items">
                        <div class="subscribe-items" data-item-container="freebies">
                            <div class="section-title short">What products exactly you can get?</div>
                            <p class="section-descr short">Check out the products you can get right away after subscribing to Layvio Plus membership.</p>
                            <div class="clearfix" data-item-list="freebies">
                                <div class="subscribe-item">
                                    <a href="/freebie/manchester-signature-font" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1572959041.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/rake-procreate-brushes" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1572867819.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1572867819.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/foil-balloon-text-effects" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1572350226.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1572350226.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/flower-clipart-isolated" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1571918381.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1571918381.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/degalasi-script-font" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1571133116.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1571133116.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/chalk-procreate-brushes" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1570619363.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1570619363.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/terrazzo-seamless-patterns" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1570537371.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1570537371.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/glued-poster-templates" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1570001663.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1570001663.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/watercolor-dry-brush-effects" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1569416471.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1569416471.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/modern-flora-logo-templates" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1569329313.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1569329313.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/brume-decorative-font" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1568723818.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1568723818.jpg' %}" alt="" /> </a>
                                </div>
                                <div class="subscribe-item">
                                    <a href="/freebie/shadow-photoshop-extension" class="subscribe-item__i"> <img src="{% static 'assets/images/freebie-1568288061.jpg' %}" data-retina="{% static 'assets/images/freebie-retina-1568288061.jpg' %}" alt="" /> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blue-back plans" id="plans">
                    <div class="wrap">
                        <div class="section-title">Pick your Membership Plan</div>
                        <p class="section-descr plans__descr">Get your access to the richest collection of exclusive design goods for subscribers. Only hand-picked content of the highest quality.</p>
                        <div class="plan">
                            <div class="plan__i">
                                <div class="plan__price"><span class="plan__price__currency">$</span>19</div>
                                <div class="plan__title">Monthly</div>
                                <p class="plan__descr">Just perfect for a start! Subscribe now to check our library for premium members, cancel anytime you want.</p>
                                <ul class="text-left">
                                    <li>Get 2 Prime Templates for a Month</li>
                                    <li>Get 1 Readymade Solution if billed for 6 months</li>
                                    <li>Free Website Maintenance for any 2 websites for a month</li>
                                    <li>10 Custom Static sections per month</li>
                                    <li>Get priority Support for Plus Members</li>
                                    <li>Free Access to all Only Membership templates.</li>
                                </ul>
                                <a href="sign-in.html" class="subscribe-btn input-button">Subscribe</a>
                            </div>
                        </div>
                        <div class="plan">
                            <div class="plan__i">
                                <div class="plan__price black-friday"><span class="plan__price__currency">$</span>199</div>
                                <div class="plan__title">Yearly</div>
                                <p class="plan__descr">Celebrate Black Friday with our 50% discount. Have everything you want now and for the years to come!</p>
                                <ul class="text-left">
                                    <li>Get 2 Prime Templates per month for a year</li>
                                    <li>Get 2 Readymade Solution if billed for 1 year</li>
                                    <li>Free Website Maintenance for any 2 websites for a year</li>
                                    <li>10 Custom Static sections per month for a year</li>
                                    <li>Get priority Support for Plus Members</li>
                                    <li>Free Access to all Only Membership templates.</li>
                                </ul>
                                <a href="sign-in.html" class="subscribe-btn input-button black-friday">Subscribe</a>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </section>
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <br />
            <div class="section-title text-center mt-4 mb-4">Still Got Questions? We've Got Answers!</div>
            <br />
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-8">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading0">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                            What is Layvio Plus and What Membership Options Are Available?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                    <div class="panel-body px-3 mb-4">
                                        <p>
                                            Layvio Plus is a premium membership program designed for creative professionals who seek high-quality website templates, design resources, and ready-made website solutions. As a Layvio Plus
                                            member, you gain unlimited access to an extensive library, including templates, and more — all curated from top designers and studios worldwide to meet the highest standards of quality and
                                            usability.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading1">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            Can I upgrade my Layvio Plus membership plan?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body px-3 mb-4">
                                        <p>
                                            <b>Yes, you can upgrade your Layvio Plus membership.</b><br />
                                            To do so, you’ll first need to cancel your existing subscription and wait for the current billing period to end. Once it expires, you can select and activate a new plan to upgrade your membership
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                            How can I cancel my subscription?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>
                                            <b>Canceling your Layvio Plus membership is easy.</b><br />
                                            Simply click <b>“Cancel Subscription”</b>in your profile settings, then disable the recurring payment through your PayPal or bank account. This will ensure your subscription does not renew
                                            automatically.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading3">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                            Can I keep using the downloaded Plus resources after my subscription expires?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body px-3 mb-4">
                                        <p>
                                            <b>Once your membership is canceled or expires, your access to the Plus library will be revoked immediately.</b><br />
                                            In addition, the license for any resources you previously downloaded or saved will also expire, meaning you’ll no longer have the rights to use them after your subscription ends.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading4">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                            How do I contact Layvio for support?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body px-3 mb-4">
                                        <p>
                                            <b>If you have any questions or need help, feel free to reach out!</b><br />
                                            You can contact our team through the form on our website or email us directly at support@layvio.vom — we’re always here to assist you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mbr-figure">
                            <img src="{% static 'assets/images/faqs.png' %}" alt="faqs" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %} 