{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}
  <section class="free-templates custom_space container-fluid">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-md-4 bs-primary">
                        <div class="temp_box">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card">
                                        <h2 class="text-center text-warning pt-3">Free</h2>
                                        <br />
                                        <h3 class="text-center"><b>$0 Forever</b></h3>
                                        <div class="mt-4 mb-4 text-center">
                                            <a href="#" class="btn btn-md">Create Free Account</a>
                                        </div>

                                        <ul>
                                            <li>Completely FREE</li>
                                            <li>Free Website Setup and Live</li>
                                            <li>5 Website Pages</li>
                                            <li>500 MB Storage Space</li>
                                            <li>Responsive Mobile Site</li>
                                            <li>Basic Web Forms</li>
                                            <li>Free .layvio.com subdomain</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 bs-primary">
                        <div class="temp_box">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card">
                                        <h2 class="text-center text-warning pt-3">Prime</h2>

                                        <br />
                                        <h3 class="text-center"><b>$12/month</b></h3>
                                        <div class="mt-4 mb-4 text-center">
                                            <a href="#" class="btn btn-outline">Select Prime Plan</a>
                                        </div>

                                        <ul>
                                            <li>Free Domain For 1 Year ($10 -$20 value)</li>
                                            <li>Free Website Setup and Live</li>
                                            <li>10 Website Pages</li>
                                            <li>10 GB Storage Space</li>
                                            <li>HTTPS Security (SSL)</li>
                                            <li>Customisable Web Forms</li>
                                            <li>Responsive Mobile Site</li>
                                            <li>Search Engine Optimisation (SEO) code.</li>
                                            <li>Remove Website.com Banner Ads</li>
                                            <li>10 Domain Email Accounts</li>
                                            <li>Premium Support</li>
                                            <li>30-day Money Back Guarantee</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 bs-primary">
                        <div class="temp_box">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card">
                                        <h2 class="text-center text-warning pt-3">Custom</h2>
                                        <br />
                                        <h3 class="text-center"><b>Advanced features</b></h3>
                                        <div class="mt-4 mb-4 text-center">
                                            <a href="#" class="btn btn-md">Let`s Connect</a>
                                        </div>
                                        <ul>
                                            <li>Design Customization</li>
                                            <li>Software Customization</li>
                                            <li>API Integration</li>
                                            <li>Platform Migration Support</li>
                                            <li>Dedicated Account Manager</li>
                                            <li>Setup Support</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <div class="container">
                <div class="row mb-5 mt-5">
                    <div class="col-md-7">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading0">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                            What is Pixelbuddha Plus?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                    <div class="panel-body px-3 mb-4">
                                        <p>
                                            ​Pixelbuddha Plus is a premium membership program offered by Pixelbuddha, designed for creative professionals seeking high-quality design resources. Members gain unlimited access to an extensive
                                            library of over 3,500 hand-picked assets, including mockups, fonts, text effects, graphics, textures, and more. These resources are curated from top designers and studios worldwide, ensuring they
                                            meet the highest standards of quality and usability .​
                                        </p>
                                        <h6>Key Features of Pixelbuddha Plus:</h6>
                                        <ul>
                                            <li><b>Exclusive Premium Content:</b> Access to a vast collection of premium design resources not available in the free section</li>
                                            <li><b>Unlimited Downloads:</b>Download as many resources as needed without any restrictions.​</li>
                                            <li><b>Daily Updates:</b> The library is continuously updated with new, trend-focused assets to keep your designs fresh and relevant</li>
                                            <li><b>Commercial License:</b> All resources come with a commercial license, allowing use in personal and commercial projects.​</li>
                                            <li><b>Flexible Membership Plans: </b></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading1">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            Can I upgrade my Pixelbuddha Plus membership plan?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                            How can I cancel my subscription?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading3">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                            Can I keep using the downloaded Plus resources after my subscription expires?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading mb-3" role="tab" id="heading4">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse4">
                                            How do I contact Pixelbuddha for support?
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mbr-figure">
                            <img src="{% static 'assets/images/faqs.png' %}" alt="faqs" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %} 