{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->

 <div class="container mb-5">
    <div class="pol-text text-center about-content mb-5">
        <h3>Prime Products</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <h6 class="mt-20 mb-30">Select Filters to add</h6>
            </div>
            <div class="col-lg-6 col-sm-6 text-right">
                <select name="orderby" class="orderby" aria-label="Shop order">
                    <option value="menu_order" selected="selected">Template 1</option>
                    <option value="Template 2">Template 2</option>
                    <option value="Template 3">Template 3</option>
                    <option value="Template 4">Template 4</option>
                    <option value="Template 5">Template 5</option>
                    <option value="Template 6">Template 5</option>
                    <button>Add</button>
                    
                </select>
            </div>
     <br><br>

        
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <a href="templates-details.html"><img class="card-img-top img-fluid" src="{% static 'assets/images/img_1.jpg' %}" alt="Card image"></a>

                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top img-fluid" src="{% static 'assets/images/img_2.jpg' %}" alt="Card image">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_1.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_2.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_1.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_2.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_1.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_2.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img class="card-img-top" src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid">
                    <div class="bg-upper">
                        <h4>new</h4>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="#" class="btn btn-custom">Live Preview <span
                                class="icon-search custom_search"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
   


</div>
<div class="row mt-5 mb-5">
    <div class="col-md-12 ">
        <ul class="pagination justify-content-center">

            <!-- Specify the disabled class to style this item disabled -->
            <li class="page-item disabled">

                <!-- Specify tabindex to make the link non navigatable -->
                <a class="page-link-2" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link-2" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link-2" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link-2" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link-2" href="#">Next</a>
            </li>
        </ul>
    </div>
</div>


{% endblock %} 