{% extends 'base_inner.html' %} {% load static %} 
{% block inner_html %}

 <!-- start welcome -->

 <div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <div class="pol-text">
                <h1><b>Create Your Free Website in Just 4 Simple Steps</b></h1>
                <p>No tech worries. Get a ready-to-use website with fast performance, SEO setup, domain, hosting, and a clean design—all included.</p>
                <div>
                    <a href="all-industries.html" id="why-choose-us" class="btn btn-md">Start with a Design</a>
                </div>
            </div>
        </div>
        <div class="col-md-5"><img class="card-img-top" src="{% static 'assets/images/website-intro.png' %}" alt="website-intro" /></div>
    </div>
    <section class="custom_space container-fluid">
        <div class="row mt-2">
            <div class="col-md-3">
                <div class="temp_box">
                    <div class="card">
                        <div class="mx-auto d-block pt-3"><img src="{% static 'assets/images/icons/industry-website.svg' %}" height="100px" width="100px" alt="industry-website" /></div>
                        <div class="card-body">
                            <h5 class="card-title">STEP 1 - Choose Your Industry</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="temp_box">
                    <div class="card">
                        <div class="mx-auto d-block pt-3"><img src="{% static 'assets/images/icons/select-website.svg' %}" height="100px" width="100px" alt="Card image" class="img-fluid" /></div>
                        <div class="card-body">
                            <h5 class="card-title">STEP 2 - Select a Website design</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="temp_box">
                    <div class="card">
                        <div class="mx-auto d-block pt-3"><img src="{% static 'assets/images/icons/plan.svg' %}" height="100px" width="100px" alt="Card image" class="img-fluid" /></div>
                        <div class="card-body">
                            <h5 class="card-title">STEP 3 - Choose your plan</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="temp_box">
                    <div class="card">
                        <div class="mx-auto d-block pt-3">
                            <img src="{% static 'assets/images/icons/website-setup.svg' %}" height="100px" width="100px" alt="Card image" class="img-fluid" />
                            <div class="card-body">
                                <h5 class="card-title">STEP 4 - Setup Your Website</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <section class="accordion-section clearfix mt-3 free-templates custom_space container-fluid">
        <h1 class="text-center mt-20"><b>Everything You Need to Bring Your Website to Life</b></h1>
        <div class="container">
            <div class="col-12">
                <br />
                <br />
                <div class="row cdi_all_items_inner">
                    <div class="col-sm-1 col-xs-1 text-center cdi_all_items_inner_img"><img src="{% static 'assets/images/icons/modile-friendly.svg' %}" alt="icon" /></div>
                    <div class="col-sm-3 col-xs-3 category_inner_child_div">
                        <h2><a href="#">Mobile-Friendly Design</a></h2>
                        <p>Your website looks and works great on all smartphones and tablets for a seamless user&nbsp;experience.</p>
                    </div>
                    <div class="col-sm-1 col-xs-1 text-center cdi_all_items_inner_img"><img src="{% static 'assets/images/icons/smart-forms.svg' %}" alt="icon" /></div>
                    <div class="col-sm-3 col-xs-3 category_inner_child_div">
                        <h2><a href="#">Smart Forms That Work for You</a></h2>
                        <p>Capture exactly what you need from leads with easy-to-customize&nbsp;inquiry&nbsp;forms.</p>
                    </div>
                    <div class="col-sm-1 col-xs-1 text-center cdi_all_items_inner_img"><img src="{% static 'assets/images/icons/seo-optimized.svg' %}" alt="icon" /></div>
                    <div class="col-sm-3 col-xs-3 category_inner_child_div">
                        <h2><a href="#">SEO-Optimized Website</a></h2>
                        <p>Built using best practices to improve your visibility and rankings on major&nbsp;search&nbsp;engines.</p>
                    </div>
                    <div class="col-sm-1 col-xs-1 text-center cdi_all_items_inner_img"><img src="{% static 'assets/images/icons/whatsapp-chat.svg' %}" alt="icon" /></div>
                    <div class="col-sm-3 col-xs-3 category_inner_child_div">
                        <h2><a href="#">WhatsApp Chat Integration</a></h2>
                        <p>Engage with your customers instantly through live chat powered by WhatsApp — the most popular messaging&nbsp;app&nbsp;worldwide.</p>
                    </div>
                    <div class="col-sm-1 col-xs-1 text-center cdi_all_items_inner_img"><img src="{% static 'assets/images/icons/video-photo.svg' %}" alt="icon" /></div>
                    <div class="col-sm-3 col-xs-3 category_inner_child_div">
                        <h2><a href="#">Showcase Photos, Videos & More</a></h2>
                        <p>Easily add pictures, videos, PDFs, brochures, or audio to highlight&nbsp;your&nbsp;business.</p>
                    </div>
                    <div class="col-sm-1 col-xs-1 text-center cdi_all_items_inner_img"><img src="{% static 'assets/images/icons/social-profiles.svg' %}" alt="icon" /></div>
                    <div class="col-sm-3 col-xs-3 category_inner_child_div">
                        <h2><a href="#">Link Your Social Profiles</a></h2>
                        <p>Easily connect your website to all your social media accounts for better reach and&nbsp;interaction.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section>
    <div class="container">
        <h1 class="text-center"><b>Get a Beautiful and Professional Looking Website</b></h1>
        <p class="text-center">Whatever is your business, we have the right look and feel</p>
        <br />
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="temp_box">
                    <div class="card">
                        <img src="{% static 'assets/images/img_1.jpg' %}" alt="Card image" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Gilb</h4>
                            <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                            <a href="readymade-template-details.html" class="btn btn-custom">Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="temp_box">
                    <div class="card">
                        <img src="{% static 'assets/images/img_2.jpg' %}" alt="Card image" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Gilb</h4>
                            <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                            <a href="readymade-template-details.html" class="btn btn-custom">Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="temp_box">
                    <div class="card">
                        <img src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Gilb</h4>
                            <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                            <a href="readymade-template-details.html" class="btn btn-custom">Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="temp_box">
                    <div class="card">
                        <img src="{% static 'assets/images/img_1.jpg' %}" alt="Card image" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Gilb</h4>
                            <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                            <a href="readymade-template-details.html" class="btn btn-custom">Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="temp_box">
                    <div class="card">
                        <img src="{% static 'assets/images/img_2.jpg' %}" alt="Card image" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Gilb</h4>
                            <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                            <a href="readymade-template-details.html" class="btn btn-custom">Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="temp_box">
                    <div class="card">
                        <img src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Gilb</h4>
                            <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                            <a href="readymade-template-details.html" class="btn btn-custom">Check Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center">
    <a href="readymade-website.html" id="why-choose-us" class="btn btn-md">All See</a>
</div>
<br />
<section class="accordion-section clearfix mt-3 free-templates custom_space container-fluid" aria-label="Question Accordions">
    <div class="container">
        <h1 class="text-center"><b>FAQs</b></h1>
        <div class="row mb-5 mt-5">
            <div class="col-md-8">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading mb-3" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">What is Pixelbuddha Plus?</a>
                            </h3>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                            <div class="panel-body px-3 mb-4">
                                <p>
                                    ​Pixelbuddha Plus is a premium membership program offered by Pixelbuddha, designed for creative professionals seeking high-quality design resources. Members gain unlimited access to an extensive
                                    library of over 3,500 hand-picked assets, including mockups, fonts, text effects, graphics, textures, and more. These resources are curated from top designers and studios worldwide, ensuring they
                                    meet the highest standards of quality and usability .​
                                </p>
                                <h6>Key Features of Pixelbuddha Plus:</h6>
                                <ul>
                                    <li><b>Exclusive Premium Content:</b> Access to a vast collection of premium design resources not available in the free section</li>
                                    <li><b>Unlimited Downloads:</b>Download as many resources as needed without any restrictions.​</li>
                                    <li><b>Daily Updates:</b> The library is continuously updated with new, trend-focused assets to keep your designs fresh and relevant</li>
                                    <li><b>Commercial License:</b> All resources come with a commercial license, allowing use in personal and commercial projects.​</li>
                                    <li><b>Flexible Membership Plans:</b></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading mb-3" role="tab" id="heading1">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Can I upgrade my Pixelbuddha Plus membership plan?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body px-3 mb-4">
                                <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading mb-3" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">How can I cancel my subscription?</a>
                            </h3>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body px-3 mb-4">
                                <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading mb-3" role="tab" id="heading3">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    Can I keep using the downloaded Plus resources after my subscription expires?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body px-3 mb-4">
                                <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading mb-3" role="tab" id="heading4">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse4">
                                    How do I contact Pixelbuddha for support?
                                </a>
                            </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body px-3 mb-4">
                                <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mbr-figure"><img src="{% static 'assets/images/faq-readysolution.png' %}" alt="faqs" class="img-fluid" /></div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h1 class="text-center"><b>Real Websites, Real Results – Built with Layvio</b></h1>
    <br />
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img src="{% static 'assets/images/img_1.jpg' %}" alt="Card image" class="img-fluid" />
                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="https://cyberlettech.com/" class="btn btn-custom">Check Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img src="{% static 'assets/images/img_2.jpg' %}" alt="Card image" class="img-fluid" />
                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="https://cyberlettech.com/" class="btn btn-custom">Check Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="temp_box">
                <div class="card">
                    <img src="{% static 'assets/images/img_3.jpg' %}" alt="Card image" class="img-fluid" />
                    <div class="card-body">
                        <h4 class="card-title">Gilb</h4>
                        <p class="card-text">Free Bootstrap 4 HTML5 Personal Portfolio Website Template</p>
                        <a href="https://cyberlettech.com/" class="btn btn-custom">Check Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="text-center">
    <a href="showcase.html" id="why-choose-us" class="btn btn-md">All See</a>
</div>
<br />
<br />
<section class="accordion-section clearfix mt-3 free-templates custom_space container-fluid">
    <div class="mm-testimonials-section mm-section">
        <h1 class="text-center mm-section-title">All-in-One Solution You Won’t Find Elsewhere</h1>
        <p class="text-center">Discover unmatched features, dedicated support, and exceptional value—see why smart businesses choose Layvio over the rest.</p>
        <div class="container">
            <div class="row">
                <table class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Features / Platforms</th>
                            <th>Layvio.com</th>
                            <th>ThemeForest</th>
                            <th>TemplateMonster</th>
                            <th>Wix / Squarespace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ready to use Solution</td>
                            <td>✅ Yes</td>
                            <td>❌ No</td>
                            <td>❌ No</td>
                            <td>❌ No</td>
                        </tr>
                        <tr>
                            <td>Free Domain & Hosting</td>
                            <td>✅ Yes</td>
                            <td>❌ No</td>
                            <td>❌ No</td>
                            <td>✅ Yes</td>
                        </tr>
                        <tr>
                            <td>Free Support</td>
                            <td>✅ Yes</td>
                            <td>❌ No</td>
                            <td>✅ Limited</td>
                            <td>❌ No</td>
                        </tr>
                        <tr>
                            <td>Quick & Fast Launch</td>
                            <td>✅ Yes</td>
                            <td>❌ No</td>
                            <td>❌ No</td>
                            <td>✅ Yes</td>
                        </tr>
                        <tr>
                            <td>Custom Changes</td>
                            <td>✅ Optional</td>
                            <td>❌ No</td>
                            <td>✅ Paid Add-on</td>
                            <td>❌ No</td>
                        </tr>
                        <tr>
                            <td>Best for Non-Tech Users</td>
                            <td>✅ Yes</td>
                            <td>❌ No</td>
                            <td>❌ No</td>
                            <td>✅ Yes</td>
                        </tr>
                        <tr>
                            <td>One time Payment</td>
                            <td>✅ Yes</td>
                            <td>❌ No</td>
                            <td>❌ No</td>
                            <td>❌ Subscription</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Create Your Own Website Now – 100% Free</h1>
            </div>
        </div>
    </div>
</section>
<div class="text-center">
    <a href="pricing.html" id="why-choose-us" class="btn btn-md">Let`s Start Now</a>
</div>
<br />
<section class="accordion-section clearfix mt-3 free-templates custom_space container-fluid">
    <div class="container text-center ml-10">
        <div class="row">
            <div class="col-md-5 mx-auto d-block pt-5">
                <div class="temp_box">
                    <div class="card">
                        <div class="text-center pt-3"><img src="{% static 'assets/images/icons/contact-us.svg' %}" alt="contact-us" /></div>
                        <br />
                        <span class="login100-form-title p-b-50"><b>Contact Us</b></span>
                        <p class="text-center">
                            Get in Touch with Us<br />
                            We’re Here to Help!
                        </p>
                        <div class="text-center pb-4">
                            <a href="contact-us.html" id="why-choose-us" class="btn btn-md">Ask a Question</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 pl-10 mx-auto d-block pt-5">
                <div class="temp_box">
                    <div class="card">
                        <div class="text-center pt-3"><img src="{% static 'assets/images/icons/help-center.svg' %}" alt="help-center" /></div>
                        <br />
                        <span class="login100-form-title p-b-50"><b>Help Center</b></span>
                        <p class="text-center">Need help creating your website? We’ll guide you every step of the way!</p>
                        <div class="text-center pb-4">
                            <a href="faqs.html" id="why-choose-us" class="btn btn-md">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mm-testimonials-section mm-section">
    <h1 class="text-center mm-section-title">Hear It from Our Happy Customers</h1>
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <ol class="carousel-indicators"></ol>
                    <div class="carousel-inner" style="margin-bottom: 30px;">
                        <div class="carousel-item active">
                            <blockquote class="blockquote">
                                <div class="row">
                                    <div class="col-sm-3 text-center"><img class="rounded-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px; height: 100px;" alt="overbite" /></div>
                                    <div class="col-sm-9">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote">
                                <div class="row">
                                    <div class="col-sm-3 text-center"><img class="rounded-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg' %}" style="width: 100px; height: 100px;" alt="128" /></div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote">
                                <div class="row">
                                    <div class="col-sm-3 text-center"><img class="rounded-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg' %}" style="width: 100px; height: 100px;" alt="128" /></div>
                                    <div class="col-sm-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <a data-slide="prev" href="#quote-carousel" class="carousel-control-prev carousel-control"></a> <a data-slide="next" href="#quote-carousel" class="carousel-control-next carousel-control"></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} 